# ==================================================
# 🔐 Konfigurasi Environment untuk Assam Multisender
# 🚀 Dibuat oleh edosetiawan.eth
# ==================================================

# ✅ Konfigurasi RPC (Jaringan Blockchain)
RPC_URL=https://assam-rpc.tea.xyz/

# ✅ Private Key Wallet (Pisahkan dengan koma jika lebih dari satu)
PRIVATE_KEYS=your-private-key-here

# ✅ Informasi Telegram Bot (Untuk Notifikasi)
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
TELEGRAM_CHAT_ID=your-chat-id-here

# ✅ Alamat Wallet
WALLET_ADDRESS=

# ✅ Smart Contract Token (Isi dengan alamat kontrak token yang digunakan)
BTC_CONTRACT=0xC4341CB2C976306AE9169efb3d8301ea287a3128
MTT_CONTRACT=0x19dab75B9D703f5a7e176CD08d5A29676aaB94fc
TDI_CONTRACT=0xb2dD47ea3db0D4FEf8a29727F9E4e21fa47E5102


# ⚠️ PENTING: 
# - JANGAN PERNAH mengupload file .env ke GitHub!
# - Gunakan env.sample ini sebagai referensi untuk mengatur file .env asli.
